.title {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 25px;
}

.container {
    margin: 50px;
}

.sizeplanet {
    margin-top: 20px;
    margin-left: 10px;
}
.sizeSatellite {
    margin-top: 20px;
    margin-left: 10px;
}
